<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>

  <div id="notice">
    <% flash.each do |key, value| %>
      <div id= "information" class="alert alert-info flash <%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>
  
    <!--  <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
     <% end -%> -->

  <main class="container">
    <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
